@import '../color-variables.less';

.tipBox {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    background: @mainBg;
    border: 1px solid @mainBorder;
    border-radius: 3px;
    box-shadow: 0px 2px 4px -1px @mainShadow;
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
        margin-bottom: 0;
    }

    &-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 0;

        @media screen and (max-width: 1279px) {
            flex-wrap: wrap;
        }

        .tip-area {
            display: flex;
            align-items: center;
            flex: 1;
            min-width: 45%;

            &__recieved-tip {
                position: relative;
                height: 20px;
                width: 100%;
                overflow: hidden;

                &:after {
                    content: '';
                    text-align: right;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 15%;
                    height: 20px;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0), @mainBg 50%);
                }
            }

            &__entered-tip {
                width: 100%;
            }
        }

        .tip-author {
            display: flex;

            @media screen and (max-width: 1279px) {
                order: 1;
                min-width: 285px;
            }

            &-field {
                color: @textInfo;
                margin: 0;

                a {
                    color: @textLink;
                    text-decoration: none;
                }
            }
        }

        .tip-info {
            display: flex;
            align-items: center;
        }

        &.add-custom-tip {
            align-items: flex-start;
            padding-top: 15px;
        }

        .right-space {
            margin-right: 5px;
        }

        .tip-btn {
            height: 20px;

            &--close {
                .uiIconClose {
                    top: 0;
                }
            }
        }

        .tip-tooltip {
            max-width: 300px;
        }
    }
}
